<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workspaces</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <nav class="navbar">
    <ul >
        <li><a href="index.html">home</a></li>
        <li><a href="login">login</a></li>
    </ul>
</nav>

      <div class="app-form">
        <header><h2 class="center">Create Account</h2></header>
          <form id="register" action="/signup" method="POST">
       
            <div class="form-control">
                <label for="username">Please enter your full name.</label>
                <input id="username" type="text" name="username" placeholder="first and last name" value="<%-username%>"/>
            </div>
              <div class="form-control">
                  <label for="email">Enter a valid email address</label>
                  <input id="email" type="text" name="email" placeholder="email address" value="<%-email%>"/>
              </div>

              <div class="form-control">
                <label for="password">Enter a secure password</label>
                <input id="password" type="text" name="password" placeholder="password" value="<%-password%>"/>
            </div>

            <div class="form-control">
             <button type="submit">Create Account</button>
            </div>
            <div class="form-control">
                 <span class="warning"><%- failMessage %></span>
            </div>
          </form>
      </div>
</body>
<script src="js/signup_form.js"></script>
</html>